$fon: 'Nunito', sans-serif;
$fon3: 'Advent Pro', sans-serif;

$Daybreak-Blue: #3c2dff;
$job-posting-grey: #718096;
$job-posting-title: #4a5568;
$primary: $Daybreak-Blue;
$secondary: rgba($Daybreak-Blue, 0.69);

$Gray-1: #ffff;
$Gray-6: #bfbfbf;
$Gray-8: #595959;
$Gray-9: #262626;

@import '../libs/bootstrap-5.0.1/scss/bootstrap';

/******Reset****/
body {
  box-sizing: border-box;
  font-family: $fon;
  font-size: 16px;
  background-color: #f7fafc;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 2.875rem;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
}

/*******site Style ***/
.mle{
  margin-left: 209px;
  margin-right: 15px;
  padding: 0;

}

main{
  width: 1440px;
  height: 1495px;
}

nav{
  width: 1440px;
}


.modal-jobDetails-head {
  font-size: 24px;
  line-height: 24px;
  width: 340px;
  height: 26px;
  margin-bottom: 24px;
}

.size {
  width: 650px;
  height: 120px;
}


.modal-marginb{
  margin-bottom: 40px
}

.filter{
  display: none !important;
}
/****Login/****/



/****Header****/
@import 'Landi/Header';
/****Header****/

/****Banner******/
@import 'Landi/Banner';
/****Banner******/

/****After-Banner*/
@import 'Landi/After-Banner';
/****After-Banner*/

/****Testimonial*/
@import 'Landi/Testimonial';
/****Testimonial*/

/****Contacts****/
@import 'Landi/Contacts';
/****Contacts****/


/************JobList************/

/****Header****/
@import 'JobList/Header';
/****Header****/

/****Sidebar****/
@import 'JobList/sidebar';

/****Sidebar****/

/****YourApplication****/
@import 'JobList/YourApplication';
/****YourApplication****/


/****YourProfile****/
@import 'JobList/YourProfile';


/************JobList************/


/************Recreuiter************/
@import 'Recreuiter/ModalApplicationDetails';
@import 'Recreuiter/ModalJobCanditates';
@import 'Recreuiter/ModalPostNewJob';

/****Sing-Up-Recreuiter****/
@import 'SingUpRecreuiter/SingUpRecreuiter';

