#form-singUp {
  margin-top: 132px;
  margin-left: 544px;

  .editProfile {
    text-align: center;
    margin-bottom: 0;
  }
  .role {
    text-align: center;
    margin-bottom: 25px;
  }

  a{
    margin-left: 178px;
    width: 45px;
}
}

.form-button {
  width: 256px;
  height: 40px;
  margin: 25px 72px;
}



