<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&family=Nunito:wght@400;700&family=Overpass:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Bootstrap CSS -->
    <link href="../css/style.css" rel="stylesheet" />

    <title>Job List</title>
  </head>
  <body>
    <!-- Heder -->
    <header>
      <nav
        class="
          navbar navbar-expand-lg navbar-light
          bg-white
          border-bottom
          nav-height
        "
      >
        <div class="container-fluid mle">
          <a class="navbar-brand" href="/index.html">
            <img src="../assets/Logo.svg" alt="" />
          </a>
          <div class="header-me">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="
                      nav-link
                      text
                      link-header link-black
                      d-flex
                      align-items-center
                    "
                    href=""
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <p class="mb-0" id="myName">myname</p>
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.3593 3H9.48037C9.42061 3 9.36436 3.0293 9.3292 3.07734L5.9999 7.66641L2.67061 3.07734C2.63545 3.0293 2.5792 3 2.51944 3H1.64053C1.56436 3 1.51983 3.08672 1.56436 3.14883L5.69639 8.84531C5.84639 9.05156 6.15342 9.05156 6.30225 8.84531L10.4343 3.14883C10.48 3.08672 10.4355 3 10.3593 3Z"
                        fill="#262626"
                      />
                    </svg>
                  </a>
                  <ul
                    class="dropdown-menu link-menu-header"
                    aria-labelledby="navbarDropdown"
                  >
                    <li>
                      <a
                        class="dropdown-item"
                        href="#yourProfile"
                        id="linkYourProfile"
                      >
                        Edit your profile</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item loginOut-text" href="/index.html"
                        >Log out</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Heder -->
    <main>
      <!--  Sidebar Professional-->
      <div class="d-flex align-items-start sidebar-height">
        <!-- Sidebar-Controls -->
        <div
          class="nav flex-column nav-pills sidebar-buttons position-relative"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active sidebar-button-jobForYou"
            id="jobsForYou-button"
            data-bs-toggle="pill"
            data-bs-target="#job-for-you"
            type="button"
            role="tab"
            aria-controls="job-for-you"
            aria-selected="true"
          >
            <img src="../assets/inbox.svg" alt="" />
            Jobs for you
          </button>
          <button
            class="nav-link sidebar-button-application"
            id="yourApplications-button"
            data-bs-toggle="pill"
            data-bs-target="#your-applications"
            type="button"
            role="tab"
            aria-controls="your-applications"
            aria-selected="false"
          >
            <img src="../assets/solution.svg" alt="" />
            Your applications
          </button>
          <button
            class="nav-link sidebar-button-user"
            id="yourProfile-button"
            data-bs-toggle="pill"
            data-bs-target="#yourProfile"
            type="button"
            role="tab"
            aria-controls="yourProfile"
            aria-selected="false"
          >
            <img src="../assets/user.svg" alt="" />
            Your Profile
          </button>
        </div>
        <!-- Sidebar-Controls -->

        <!-- Sidebar-Conten -->
        <div class="tab-content w-100 sidbar-conten" id="v-pills-tabContent">
          <!-- jobs-for-you -->
          <div
            class="tab-pane fade show active border-primary jobs-for-you"
            id="job-for-you"
            role="tabpanel"
            aria-labelledby="jobs-for-you"
          >
            <div class="job-search-controls">
              <!--job Controls-->
              <p class="job-title">Jobs For you</p>
              <!-- job for you grup1 -->
              <div class="d-flex job-dropdown">
                <input
                  id="jobSearch"
                  class="form-control me-2 job-search"
                  type="search"
                  placeholder="        Find that job!"
                  aria-label="Search"
                  data-search="search"
                />

                <div class="job-nav-contry" data-search="search">
                  <select
                    class="form-select job-nav-contry"
                    aria-label=".form-select-lg example"
                  >
                    <option selected>Coutry</option>
                    <option value="peru">Peru</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Arequipa">Arequipa</option>
                  </select>
                </div>

                <div class="job-nav-range">
                  <select
                    class="form-select job-nav-range"
                    aria-label=".form-select-lg example"
                  >
                    <option selected>Salary Range</option>
                    <option value="1000-1500">$1000-$1500</option>
                    <option value="2000-2200">$2000-$2200</option>
                  </select>
                </div>

                <div class="job-nava-grade">
                  <select
                    class="form-select job-nava-grade"
                    aria-label=".form-select-lg example"
                  >
                    <option selected>Senior</option>
                    <option value="junior">Junior</option>
                    <option value="senior">Senior</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- job for you grup1 -->
            <!--fin JOB Controls-->

            <!-- Buttons-Jobs -->
            <div class="job-button-result">
              <div class="list-group" id="button-selection-job">
                <ul class="p-0 " id="jobListResult">
<!-- 
                  <button
                    id="jobButtonResult"
                    type="button"
                    class="
                      list-group-item list-group-item-action
                      button-selection
                      filter position-relative jobButtonResult
                    "
                    aria-current="true"
                    data-search="Software Engineere"
                  >
                    <div class="job-company d-flex">
                      <img
                        src="../assets/Able.png"
                        data-search="search"
                        id="jobLogoCompani"
                        class="logo-company"
                        alt=""
                      />

                      <span
                        class="d-flex flex-column searchTitle"
                        id="searchTitle"
                      >
                        <p
                          id="jobTitle"
                          data-search="search-title"
                          class="job-title"
                        >
                          Software Engineere
                        </p>
                        <span class="d-flex">
                          <p id="companyAndCity" data-search="search">
                            Able-Lima
                          </p>
                          <img
                            data-search="search"
                            id="jobNationFlag"
                            src="../assets/image 2.png"
                            alt=""
                          />
                        </span>
                      </span>
                    </div>

                    <div class="job-grup2 d-flex align-items-center">
                      <div class="hov">
                        <img src="../assets/Vector$.svg" alt="$" />
                        <div class="pay" id="pay">
                          <p
                            id="salaryRange"
                            data-search="search"
                            style="margin-bottom: 0"
                          >
                            $1000
                          </p>
                          <div class="arow">
                            <img src="../assets/arrow.svg" alt="arow">
                            <!-- <svg
                              width="7"
                              height="12"
                              viewBox="0 0 7 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M0.5 12L0.500002 0L6.5 6L0.5 12Z"
                                fill="white"
                              />
                            </svg> -->
                          <!-- </div>
                        </div>
                      </div>

                      <p id="jobType" data-search="search" class="job-time c">
                        Full time
                      </p>
                      <p
                        id="Seniority "
                        data-search="search"
                        class="job-grade c"
                      >
                        Junior
                      </p>
                      <p class="date">Today</p>

                    </div>
                  </button>
                  
                  <button
                    id="jobButtonResult"
                    type="button"
                    class="
                      list-group-item list-group-item-action
                      button-selection
                       filter
                    "
                    aria-current="true"
                    data-search="Software Engineere"
                  >
                    <div class="job-company d-flex">
                      <img
                        src="../assets/Able.png"
                        data-search="search"
                        id="jobLogoCompani"
                        class="logo-company"
                        alt=""
                      />

                      <span class="d-flex flex-column" id="searchTitle">
                        <p
                          id="jobTitle"
                          data-search="search-title"
                          class="job-title w-auto"
                        >
                          Software Engineere
                        </p>
                        <span class="d-flex">
                          <p id="companyAndCity" data-search="search">
                            Able-Lima
                          </p>
                          <img
                            data-search="search"
                            id="jobNationFlag"
                            src="../assets/image 2.png"
                            alt=""
                          />
                        </span>
                      </span>
                    </div>

                    <div class="job-grup2 d-flex align-items-center">
                      <div class="hov">
                        <img src="../assets/Vector$.svg" alt="" />
                        <div class="pay" id="pay">
                          <p
                            id="salaryRange"
                            data-search="search"
                            style="margin-bottom: 0"
                          >
                            $1000
                          </p>
                          <div class="arow">
                            <svg
                              width="7"
                              height="12"
                              viewBox="0 0 7 12"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M0.5 12L0.500002 0L6.5 6L0.5 12Z"
                                fill="white"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>

                      <p id="jobType" data-search="search" class="job-time c">
                        Full time
                      </p>
                      <p
                        id="Seniority "
                        data-search="search"
                        class="job-grade c"
                      >
                        Junior
                      </p>
                      <p class="date">Today</p>
                    </div>
                  </button> --> 
                </ul>
              </div>
              <button class="btn btn-primary job-button-load none">LOAD MORE</button>
            </div>
            <!-- Buttons-Jobs -->

            <div id="aux"></div>
          </div>
          <!--end of Jobs for you-->

          <!-- Your Application -->
          <div
            class="tab-pane fade application"
            id="your-applications"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <p class="application-title fw-bold">Your Applications</p>

            <table class="table table-hover table-responsive-sm">
              <thead>
                <tr class="application-table-colorhead row-application-job">
                  <th scope="col">Title</th>
                  <th scope="col">Type</th>
                  <th scope="col">Company</th>
                  <th scope="col">City</th>
                  <th scope="col">Data sent</th>
                </tr>
              </thead>
              <tbody>
                <tr class="row-application-job">
                  <td class="selectable">
                    Software Engineer
                    <button
                      type="button"
                      class="btn btn-primary application-button-table"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      Launch static backdrop modal
                    </button>
                  </td>
                  <td>Full Time</td>
                  <td>Able.co</td>
                  <td>Lima</td>
                  <td>Agust 10, 2020</td>
                </tr>
              </tbody>
            </table>

            <!-- Button trigger modal -->

            <!-- Modal -->
            <div
              class="modal fade"
              id="staticBackdrop"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content modal-application position-relative">
                  <div class="modal-title-position">
                    <p class="modal-title-job" id="modal-application-job-title">
                      Software Engineer
                    </p>
                    <p class="modal-company-title fw-bold">Able.co</p>
                  </div>
                  <div class="modal-header">
                    <ul
                      class="nav nav-pills mb-3"
                      id="pills-tab"
                      role="tablist"
                    >
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-links active modal-app-button"
                          id="modal-app-button"
                          data-bs-toggle="pill"
                          data-bs-target="#modal-application"
                          type="button"
                          role="tab"
                          aria-controls="modal-applicantion"
                          aria-selected="false"
                        >
                          Application
                        </button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button
                          class="nav-links modal-app-button"
                          id="modal-app-jobDetailsB"
                          data-bs-toggle="pill"
                          data-bs-target="#job-details"
                          type="button"
                          role="tab"
                          aria-controls="job-details"
                          aria-selected="false"
                        >
                          Job Details
                        </button>
                      </li>
                    </ul>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body d-flex">
                    <!-- Sidebar-Controls -->
                    <div
                      class="
                        nav
                        flex-column
                        nav-pills
                        sidebar-buttons
                        h-auto
                        position-relative
                        modal-mar80
                      "
                      id="v-pills-tab"
                      role="tablist"
                      aria-orientation="vertical"
                    >
                      <button
                        class="nav-link sidebar-button-jobForYou fw-bold"
                        id="v-pills-home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#moda-application"
                        type="button"
                        role="tab"
                        aria-controls="modal-applicantion"
                        aria-selected="true"
                      >
                        <img src="../assets/edit.svg" alt="" />
                        Edit Application
                      </button>
                      <button
                        class="nav-link sidebar-button-application fw-bold tred"
                        id="v-pills-profile-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-profile"
                        aria-selected="false"
                      >
                        <img src="../assets/delete.svg" alt="" />
                        Whithdraw application
                      </button>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                      <div
                        class="tab-pane fade show active"
                        id="modal-application"
                        role="tabpanel"
                        aria-labelledby="pills-home-tab"
                      >
                        <div
                          class="
                            modal-app-professionalExperience modal-app-aline
                            h-auto
                          "
                        >
                          <p class="modal-app-professional-title fw-bold">
                            Profesional Experience
                          </p>

                          <p
                            class="modal-app-professional-content"
                            id="modal-app-professional-content"
                          >
                            This is the professional experience the candidate
                            wrote on their application. It could be several
                            lines long. :D
                          </p>

                          <p class="modal-app-professional-title fw-bold">
                            Why are you interested in working at Able.co?
                          </p>
                          <p
                            class="modal-app-professional-content"
                            id="modal-app-proIntersted"
                          >
                            This is the awnser the applicant wrote.
                          </p>
                        </div>
                      </div>
                      <div
                        class="tab-pane fade modal-marginb"
                        id="job-details"
                        role="tabpanel"
                        aria-labelledby="job-details"
                      >
                        <div class="modal-app-aline">
                          <p
                            class="modal-description size text-wrap h-auto fs-6"
                            id="modal-jobDetails-description modal-marginb"
                          >
                            Able is seeking a Full-Stack Software Engineer. You
                            will work on a variety of challenging, creative and
                            innovative products that are part of our rapidly
                            growing portfolio. Your experience will serve as a
                            foundation for your growth at our company and we
                            expect that you will keep developing your existing
                            skills by growing your knowledge in areas you had
                            never envisioned before.
                          </p>

                          <p class="modal-jobDetails-head fw-bold">
                            What will be expected of you:
                          </p>
                          <ul
                            class="modal-expected-of-you size text-wrap h-auto"
                          >
                            <li>
                              Build server-side applications as well as RESTful
                              APIs with Ruby and Rails
                            </li>
                            <li>
                              Build client-side applications with React, Redux,
                              HTML5 and CSS3/SASS
                            </li>
                            <li>
                              Collaborate with a super talented team of
                              Engineers
                            </li>
                            <li>
                              Develop and exercise your understanding of UX & UI
                              design best practices
                            </li>
                            <li>Use the test-driven development paradigm</li>
                            <li>
                              Build server-side applications as well as RESTful
                              APIs with Ruby and
                            </li>
                          </ul>

                          <p class="modal-jobDetails-head fw-bold text-wrap">
                            What we are looking for:
                          </p>

                          <ul class="modal-looking-for size text-wrap h-auto">
                            <li>
                              You have a passion for collaborative problem
                              solving and the willingness to challenge, debate
                              and form relationships with team members
                            </li>
                            <li>
                              You know what you don’t know, you have no problem
                              admitting it, and you’re eager to do whatever it
                              takes to address that gap
                            </li>
                            <li>
                              You have a desire to improve Able’s product
                              development practices and the experience to
                              follow-through on implementation
                            </li>
                          </ul>

                          <p class="modal-jobDetails-head fw-bold">
                            Job requirements:
                          </p>

                          <ul
                            class="
                              modal-Job-requirements
                              size
                              text-break text-wrap
                              h-auto
                            "
                          >
                            <li>
                              2+ years professional experience as a software
                              engineer or equivalent
                            </li>
                            <li>
                              Thorough and up-to-date knowledge of JavaScript
                              and/or Ruby/Rails
                            </li>
                            <li>
                              Understanding of MVC architectures and databases
                              such as PostgreSQL and Redis
                            </li>
                            <li>
                              Sufficient HTML and CSS skills to be able to work
                              with designers to transform prototypes
                            </li>
                            <li>
                              Experience building modern, responsive and
                              interactive web applications using frameworks such
                              as React
                            </li>
                            <li>
                              Professional proficiency in written and spoken
                              English
                            </li>
                          </ul>

                          <p class="modal-jobDetails-head fw-bold">
                            About Able:
                          </p>
                          <p
                            class="
                              modal-about-text
                              size
                              text-break text-wrap
                              h-auto
                            "
                          >
                            Able builds technology products in a portfolio
                            model. We believe that people, teams, and processes
                            are more important than the ideas themselves, so
                            we’ve focused on bringing great people together, and
                            investing in their growth. <br /><br />
                            We’ve built products in a variety of industries.
                            Everything from media to finance to toys to
                            healthcare. Sometimes we work with management teams
                            to help their businesses grow faster or unlock value
                            using technology. <br /><br />
                            Other times we start or buy businesses outright.
                            Each time, we look for opportunities to leverage
                            technology built at the portfolio-level to drive
                            value faster. <br /><br />
                            We believe that a diverse team brings extraordinary
                            success and we have created a work environment
                            geared towards work/life balance and happiness. Able
                            is committed to inclusion and diversity and is an
                            equal opportunity employer.
                            <br /><br />
                            All applicants will receive consideration without
                            regard to race, color, religion, gender, gender
                            identity, sexual orientation, national origin,
                            disability, or veteran status.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="modal-application">

            </div> -->
          </div>
          <!-- end of your application -->

          <!-- Your Profile -->
          <div
            class="tab-pane fade sing-up"
            id="yourProfile"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div id="form-your-profile" class="form">
              <div class="mb-3">
                <p class="editProfile fw-bold">Edit your profile</p>
                <label for="form-your-profile-name" class="form-label"
                  >Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="form-your-profile-name"
                  placeholder="name"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>

              <div class="mb-3">
                <label for="form-your-profile-email" class="form-label"
                  >Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="form-your-profile-email"
                  placeholder="name@example.com"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>

              <div class="mb-3">
                <label for="form-your-profile-number" class="form-label"
                  >Phone Numer</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="form-your-profile-number"
                  placeholder="98745321"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>

              <div class="mb-3">
                <label for="form-your-profile-description" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="form-your-profile-description"
                  placeholder="e.g Software Engineer, Mememaster, Pokemaster"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>

              <div class="mb-3">
                <label for="form-your-profile-experience" class="form-label"
                  >Example textarea</label
                >
                <textarea
                  class="form-control"
                  id="form-your-profile-experience"
                  rows="3"
                ></textarea>
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>

              <div class="mb-3">
                <label for="form-your-profile-linkedln" class="form-label"
                  >Linkedln</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="form-your-profile-linkedln"
                  placeholder="https://linkedin/in/your-name-here"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
              </div>
              <div class="mb-3">
                <label for="form-your-profile-github" class="form-label"
                  >Linkedln</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="form-your-profile-github"
                  placeholder="https://github.com/your-user-here"
                />
                <p class="form-your-profile-suggestions">
                  Use your real first and last name
                </p>
                <button
                  id="form-your-profile-button  "
                  class="btn btn-outline-primary"
                >
                  Save Change
                </button>
                <p class="deleteaccout">Delete permanently your account</p>
              </div>
            </div>
          </div>
          <!-- End of Your Profile -->
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
          >
            ...
          </div>

          <!--Modal-Job Details--->

          <div class="modal-job-details none" id="modal-job-details">
            <div class="job-details-modal d-flex">
              <div class="modal-grup1">
                <button id="modal-button-return">
                  <img src="../assets/arrow-left.svg" alt="" />
                  See more jobs
                </button>
                <p class="date dat-modalElement">Posted Feb 24</p>
                <h1 id="modalJobTitle" class="dat-modalElement" dat-modalElement="title">Software Engineer</h1>
                <div class="modal-checkable">
                  <p
                    id="modalJobType"
                    dat-modalElement="type"
                    class="bg-primary d-inline-block rounded-3 check text-white modalE dat-modalElement"
                  >
                    Full time
                  </p>
                  <p
                    id="modalJobSeniority"
                    dat-modalElement="seniority"
                    class="bg-primary d-inline-block rounded-3 check text-white dat-modalElement"
                  >
                    Junior
                  </p>
                </div>

                <p
                  id="modalJobIntroducction"
                  dat-modalElement="introduccitionJob"
                  class="modal-description size text-wrap h-auto fs-6 dat-modalElement"
                >
                  Able is seeking a Full-Stack Software Engineer. You will work
                  on a variety of challenging, creative and innovative products
                  that are part of our rapidly growing portfolio. Your
                  experience will serve as a foundation for your growth at our
                  company and we expect that you will keep developing your
                  existing skills by growing your knowledge in areas you had
                  never envisioned before.
                </p>

                <p class="modal-jobDetails-head fw-bold">
                  What will be expected of you:
                </p>
                <ul class="modal-expected-of-you size text-wrap h-auto dat-modalElement" id="modalJobExpected" dat-modalElement="expected">
                  <!-- <li>
                    Build server-side applications as well as RESTful APIs with
                    Ruby and Rails
                  </li>
                  <li>
                    Build client-side applications with React, Redux, HTML5 and
                    CSS3/SASS
                  </li>
                  <li>Collaborate with a super talented team of Engineers</li>
                  <li>
                    Develop and exercise your understanding of UX & UI design
                    best practices
                  </li>
                  <li>Use the test-driven development paradigm</li>
                  <li>
                    Build server-side applications as well as RESTful APIs with
                    Ruby and
                  </li> -->
                </ul>

                <p class="modal-jobDetails-head fw-bold text-wrap">
                  What we are looking for:
                </p>

                <ul id="modalJobLooking" class="modal-looking-for size text-wrap h-auto dat-modalElement" dat-modalElement="looking">
                  <li>
                    You have a passion for collaborative problem solving and the
                    willingness to challenge, debate and form relationships with
                    team members
                  </li>
                  <li>
                    You know what you don’t know, you have no problem admitting
                    it, and you’re eager to do whatever it takes to address that
                    gap
                  </li>
                  <li>
                    You have a desire to improve Able’s product development
                    practices and the experience to follow-through on
                    implementation
                  </li>
                </ul>

                <p id="modalJobRequirements" class="modal-jobDetails-head fw-bold">Job requirements:</p>

                <ul
                  class="
                    modal-Job-requirements
                    size
                    text-break text-wrap
                    h-auto
                    dat-modalElement
                  "
                  dat-modalElement="requirements"
                >
                  <li>
                    2+ years professional experience as a software engineer or
                    equivalent
                  </li>
                  <li>
                    Thorough and up-to-date knowledge of JavaScript and/or
                    Ruby/Rails
                  </li>
                  <li>
                    Understanding of MVC architectures and databases such as
                    PostgreSQL and Redis
                  </li>
                  <li>
                    Sufficient HTML and CSS skills to be able to work with
                    designers to transform prototypes
                  </li>
                  <li>
                    Experience building modern, responsive and interactive web
                    applications using frameworks such as React
                  </li>
                  <li>
                    Professional proficiency in written and spoken English
                  </li>
                </ul>

                <p class="modal-jobDetails-head fw-bold">About Able:</p>
                <p id="modalJobDescriotion" class="modal-about-text size text-break text-wrap h-auto dat-modalElement" dat-modalElement="description">
                  Able builds technology products in a portfolio model. We
                  believe that people, teams, and processes are more important
                  than the ideas themselves, so we’ve focused on bringing great
                  people together, and investing in their growth. <br/><br />
                  We’ve built products in a variety of industries. Everything
                  from media to finance to toys to healthcare. Sometimes we work
                  with management teams to help their businesses grow faster or
                  unlock value using technology. <br /><br />
                  Other times we start or buy businesses outright. Each time, we
                  look for opportunities to leverage technology built at the
                  portfolio-level to drive value faster. <br /><br />
                  We believe that a diverse team brings extraordinary success
                  and we have created a work environment geared towards
                  work/life balance and happiness. Able is committed to
                  inclusion and diversity and is an equal opportunity employer.
                  <br /><br />
                  All applicants will receive consideration without regard to
                  race, color, religion, gender, gender identity, sexual
                  orientation, national origin, disability, or veteran status.
                </p>

                <button class="btn btn-primary" id="modalButtonFinaly">
                  Get this job
                </button>
              </div>
              <div class="modal-grup2">
                <div class="grup21">
                  <div style="width: 50px; height: 50px">
                    <img
                      class="moda-y w-100"
                      src="../assets/Able50.png"
                      alt=""
                    />
                  </div>

                  <p id="modalJobTitleCompany" dat-modalElement="companyTitle" class="modal-company-name fw-bold">Able.co</p>
                  <span class="d-flex">
                    <img src="../assets/mdi_location_on.svg" alt="" />
                    <p id="modalJobCityAndCountry" dat-modalElement="cityAndCountry">Lima, Peru</p>
                  </span>

                  <a id="modalJobWebsite" dat-modalElement="opendWebSide" href="#">
                    <img src="../assets/mdi_open_in_new.svg" alt="" />
                    Open Website</a
                  >
                  <p id="modalJobCandidatesNumber" class="modal-posted-job">Posted 10 Jobs</p>

                  <button
                  id="modalButtonFinaly2"
                    class="btn btn-primary fw-bold gu21 rounded-0"
                  >
                    Get this job
                  </button>
                  <div class="line">
                    <button id="modal-button-return">
                      View All Jobs
                      <img src="../assets/arrow-left.svg" alt="" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Modal-Job Detail--->

          <!-- Modal-Get-this-job -->
          <div class="modal-get-this-job sing-up none" id="modal-get-this-job">
            <p
              class="modal-getTJ-title editProfile"
              id="modal-getTj-title"
              style="font-size: 2rem; margin: 64px 0 20px 100px"
            >
              <span class="text-primary fw-bold"> Get this job:</span> Software
              Engineer
            </p>

            <div class="form" style="margin-left: 100px; margin-top: 0">
              <div class="input-group mb-3 flex-column">
                <p class="modal-getTJ-title mb-0">Upload your CV</p>

                <div class="divFile">
                  <div class="d-flex">
                    <img src="../assets/icon container.svg" alt="" />
                    <p class="textFile">Upluad</p>
                  </div>

                  <input
                    type="file"
                    class=""
                    id="modal-getTJ-input-cv"
                    aria-describedby="inputGroupFileAddon03"
                    aria-label="Upload"
                  />
                </div>

                <label id="" for="inputGroupFile03"></label>

                <p class="form-your-profile-suggestions">
                  PDF files only. 5MB max file size.
                </p>
              </div>

              <div class="modal-experience">
                <p class="modal-getTJ-title">Professional Experience</p>
                <textarea
                  name="modal-getTJ-texarea"
                  id="modal-experience-texarea"
                  cols="30"
                  rows="10"
                  class="form-control"
                ></textarea>
                <p class="form-your-profile-suggestions">
                  Between 300 and 2000 characters.
                </p>
              </div>

              <div class="modal-getTJ-interested">
                <p class="modal-getTJ-title">
                  Why are you interested in working at Able.co?
                </p>
                <textarea
                  name="modal-getTJ-texarea"
                  id="modal-getTJ-texarea"
                  cols="30"
                  rows="10"
                  class="form-control"
                ></textarea>
                <p class="form-your-profile-suggestions">
                  Between 50 and 1000 characters.
                </p>
                <button class="modal-getTJ-button btn btn-outline-primary">
                  Get this job!
                </button>
              </div>
            </div>
          </div>
          <!-- End of Modal-Get-this-job -->
        </div>

        <!-- Sidebar-Conten -->
      </div>
      <!-- Sidebar Professional -->
    </main>

    <script src="../js/JobList.js"></script>
    <script src="../libs/bootstrap-5.0.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
