<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&family=Nunito:wght@400;700&family=Overpass:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Bootstrap CSS -->
    <link href="../css/style.css" rel="stylesheet" />

    <title>Sign Up Professional</title>
  </head>
  <body>
    <!-- Heder -->
    <header>
      <div>
        <nav
          class="
            navbar navbar-expand-lg navbar-light
            bg-white
            border-bottom
            nav-height
          "
        >
          <div class="container ml">
            <a class="navbar-brand" href="#">
              <img src="../assets/Logo.svg" alt="" />
            </a>
            <div class="header-me">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown link-me">
                    <a
                      class="nav-link link-header link-black"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Sign In
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.3593 3H9.48037C9.42061 3 9.36436 3.0293 9.3292 3.07734L5.9999 7.66641L2.67061 3.07734C2.63545 3.0293 2.5792 3 2.51944 3H1.64053C1.56436 3 1.51983 3.08672 1.56436 3.14883L5.69639 8.84531C5.84639 9.05156 6.15342 9.05156 6.30225 8.84531L10.4343 3.14883C10.48 3.08672 10.4355 3 10.3593 3Z"
                          fill="#262626"
                        />
                      </svg>
                    </a>
                    <ul
                      class="dropdown-menu link-menu-header"
                      aria-labelledby="navbarDropdown"
                    >
                      <li>
                        <a
                          class="dropdown-item"
                          href="Login.html?type=recreuiter"
                          >Recruiter</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="Login.html"
                          >Professional</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link text-primary link-header"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Sign Up
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.3593 3H9.48037C9.42061 3 9.36436 3.0293 9.3292 3.07734L5.9999 7.66641L2.67061 3.07734C2.63545 3.0293 2.5792 3 2.51944 3H1.64053C1.56436 3 1.51983 3.08672 1.56436 3.14883L5.69639 8.84531C5.84639 9.05156 6.15342 9.05156 6.30225 8.84531L10.4343 3.14883C10.48 3.08672 10.4355 3 10.3593 3Z"
                          fill="#3C2DFF"
                        />
                      </svg>
                    </a>
                    <ul
                      class="dropdown-menu link-menu-header"
                      aria-labelledby="navbarDropdown"
                    >
                      <li>
                        <a class="dropdown-item" href="./SingUpRecreuiter.html"
                          >Recruiter</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Professional</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Heder -->
    <main>
      <!--  Sidebar Professional-->

      <div id="signUp" class="sing-up">
        <div id="form-singUp" class="form">
          <form class="signUpProfessional val-form">
            <div class="mb-3">
              <p class="editProfile fw-bold">Sig Up</p>
              <p class="role">As Professional</p>
              <label for="form-singUpProf-email" class="form-label"
                >Email</label
              >
              <input
                type="text"
                class="form-control"
                id="form-singUpProf-email"
                placeholder="youremail@email.com"
                title="Email incorrecto"
                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                required
              />
            </div>

            <div class="mb-3">
              <label for="form-singUpProf-password" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="form-singUpProf-password"
                placeholder="**************"
                required
              />
            </div>

            <div class="mb-3">
              <label for="form-singUpProfessional-confirm" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="form-singUpProfessional-confirm"
                placeholder="**************"
                required
              />
            </div>

            <div class="mb-3">
              <button class="btn btn-primary d-block form-button">
                Sing Up
              </button>
              <div id="loader" class="none">
                <img src="../assets/rings.svg" alt="Cargando" />
              </div>

              <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol
                  id="check-circle-fill"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                  />
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                  />
                </symbol>
                <symbol
                  id="exclamation-triangle-fill"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                  />
                </symbol>
              </svg>

              <div
                class="alert alert-success none align-items-center"
                role="alert"
                id="signUpAlert"
              >
                <svg
                  id="signAlertIcon"
                  class="bi flex-shrink-0 me-2"
                  width="24"
                  height="24"
                  role="img"
                  aria-label="Success:"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <div id="signUpAlertContent">
                  An example success alert with an icon
                </div>
              </div>

              <a class="link-primary" href="Login.html">Sing In</a>
            </div>
          </form>
        </div>
      </div>

      <!-- Sidebar Professional -->
    </main>

    <script src="../js/singUpProfessional.js"></script>
    <script src="../libs/bootstrap-5.1.1/dist/js/bootstrap.min.js "></script>
  </body>
</html>
