$fon: 'Nunito', sans-serif;
$dust-red: #f5222d;
$backgroug: #f7fafc;
$Gray-8: #595959;
$Daybreak-Blue: #3c2dff;
$secondary: rgba(60, 45, 255, 0.69);
$gray-date: rgba(113, 128, 150, 1);
main {
  position: relative;
  height: 100%;
}
.sidebar-height {
  height: 100%;
  font-family: $fon;
  // .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  //     color: $backgroug;
  //     /* background-color: #3c2dff; */
  // }
  .sidebar-buttons {
    padding-top: 40px;
    width: 200px;
    height: 1395px;
    background-color: white;

    button {
      width: 200px;
      height: 40px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: $Gray-8;
      display: flex;
      align-items: center;
      img {
        margin-left: 24px;
        margin-right: 8px;
      }
    }

    .sidebar-button-jobForYou {
      padding: 0;
      font-size: 14px;
      line-height: 22px;
    }

    .sidebar-button-application,
    .sidebar-button-user {
      padding: 0;
    }

    .job-nav-contry {
      width: 104px;
      height: 40px;
      padding: 8px;
    }
    .job-nav-type {
      width: 85px;
      height: 40px;
    }
    .job-nav-range {
      width: 137px;
      height: 40px;
    }

    .job-nava-grade {
      width: 121px;
      height: 40px;
    }
  }

  .sidbar-conten {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: $backgroug;
    .jobs-for-you {
      width: 1031px;
      margin-top: 64px;
      margin-left: 104px;
      .job-search-controls {
        margin-bottom: 28px;
        padding: 0;
        div,
        input {
          margin-right: 10px;
        }
        .job-search {
          width: 283px;
          height: 40px;
        }

        .job-title {
          width:auto;
          height: auto;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          display: inline-block;
        }
        .job-search::placeholder {
          background-image: url(../../assets/mdi_search.svg);
          background-size: 17.49px 17.49px;
          background-repeat: no-repeat;
          background-position-x: 5px;
          background-position-y: 3px;
        }
        .job-dropdown {
          div {
            button {
              background-color: #ffffff !important;
              color: #4a5568;
              border: 0;
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
                0px 1px 3px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
            }
          }
        }
      }

      .job-button-result {
        width: 100%;
        height: 854px;

        div {
          ul{
            .button-selection {
              display: flex;
              width: 1031px;
              height: 82px;
              padding: 0;
              background: #ffffff;
              /* shadow-base */
  
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
                0px 1px 3px rgba(0, 0, 0, 0.1);
              margin-bottom: 20px;
              .job-company {
                position: absolute;
                .logo-company {
                  height: 36px;
                  margin: 25px 15px 21px 20px;
                }
                .job-title {
                  width: auto;
                  height: 27px;
                  color: #4a5568;
  
                  font-style: normal;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 27px;
                  margin-top: 16px;
                  margin-bottom: 4px;
                }
                span {
                  p {
                    margin: 0;
                    margin-right: 9px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                  }
                }
              }
  
              .job-grup2 {
                position: relative;
                width: 206px;
                height: 24px;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #ffffff;
                margin-top: 29px;
                margin-bottom: 29px;
                margin-left: 805px;
                margin-right: 20px;
  
                & > * {
                  margin-right: 10px;
                }
                .pay {
                  position: absolute;
                  color: #000;
                  width: 68px;
                  height: 32px;
                  padding: 5px 8px;
                  margin-bottom: 0;
                  background: #ffffff;
                  font-size: 14px;
                  line-height: 22px;
                  text-align: center;
                  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
                  border-radius: 4px;
                  top: 8px;
                  right: 30px;
                  z-index: 3;
                }
                .hov {
                  position: relative;
                  width: 24px;
                  overflow: hidden;
                  height: 50px;
                  padding-top: 12px;
  
                  &:hover {
                    overflow: visible;
                  }
                }
  
                .arow {
                  position: relative;
                  svg {
                    position: absolute;
                    top: -18px;
                    right: -14px;
                    left: 61px;
                    bottom: 6px;
                    z-index: 5;
                  }
                }
  
                .c {
                  background-color: $secondary;
                  padding: 2px;
                  margin-bottom: 0;
                }
                .job-time {
                  width: 61px;
                  height: 20px;
                }
                .job-grade {
                  width: 43px;
                  height: 20px;
                  margin-right: 20px;
                }
                .date {
                  color: $gray-date;
                  margin-bottom: 0;
                }
              }
            }

          }
          
        }
        .job-button-load {
          margin-left: 456px;
          font-style: normal;
          font-weight: 800;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    .modal-job-details {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1874px;
      z-index: 5;
      background-color: $backgroug;

      .job-details-modal {
        height: 1408px;
        width: 100%;
        background-color: $backgroug;
        margin-left: 88px;
        margin-top: 64px;
        color: #000000;
        #modal-button-return {
          border: 0;
          padding: 0;
          margin-bottom: 20px;
          background-color: $backgroug;
          color: $Daybreak-Blue;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          img {
            margin-left: 8px;
          }
        }
        .modal-checkable {
          margin-top: 9px;
          margin-bottom: 24px;
          .check {
            padding: 1px 8px;
            font-size: 12px;
            line-height: 20px;
            border: 1px solid #3c2dff;
            margin-bottom: 0;
            margin-right: 5px;
          }
        }

        ul {
          padding-left: 20px;
          margin-bottom: 24px;
        }

        .modal-jobDetails-head {
          font-size: 24px;
          line-height: 24px;
          width: 333px;
          height: 26px;
          margin-bottom: 24px;
        }

        .date {
          width: 104px;
          height: 24px;
          padding: 0;
          margin: 0;
        }
        .modal-grup1 {
          width: 650px;
        }

        .modal-jobDetails-head {
          width: 340px;
        }

        .modal-grup2 {
          width: 250px;
          margin-left: 40px;
          height: 385px;
          background: #ffffff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .grup21 {
          margin-left: 63px;
          margin-top: 40px;
          margin-right: 62px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #000000;
          .modal-company-name {
            font-size: 1.75rem;
            line-height: 2.375;
            height: 2.375rem;
            margin-bottom: 12px;
          }
          p {
            margin-bottom: 0;
          }

          span {
            img {
              padding-bottom: 4px;
              margin-right: 4px;
            }
          }
          a {
            margin-top: 4px;
            width: 8rem;
            height: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 24px;
            color: #000;
          }

          .modal-posted-job {
            margin-top: 4px;
          }

          .gu21 {
            width: 186px;
            height: 40px;
            margin-top: 41px;
            margin-bottom: 16px;
          }

          .line {
            width: 186px;
            padding-top: 16px;
            border-top: 1px solid black;
            text-align: center;
          }
        }
      }
    }

    .modal-get-this-job {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1874px;
      background-color: $backgroug;
    }

    .none {
      display: none;
    }

    .modal-active {
      display: block;
    }
  }
}

.divFile {
  background-color: #ffffff;
  width: 104px;
  height: 40px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015) !important;
  border-radius: 4px !important;
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 8px 16px;
  position: relative;
  p {
    margin-bottom: 0;
    width: 80px;
    height: 24px;
    line-height: 24px;
    color: #595959;
  }

  #modal-getTJ-input-cv{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.loginOut-text {
  color: $dust-red !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-weight: 600;
  color: $Gray-8;
  background-color: $backgroug !important;
}
