#form-post-new-job{
    margin-left: 100px ;
}

.modal-absolut{
    position: absolute;
    top: 0;
    left: 0;
}

.editable {
    width: 400px;
    height: 127px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
  }

.modalTitlePostJob{
    font-size: 2rem;
}

.noradius{
    border-radius: 0 !important;
}

.radiusItem1{
 border-end-end-radius: 0 ;
 border-start-end-radius: 0 ;
 border-right: 0;
 
}
.radiusItem2{
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 
}

.borderColor{
    border-color: #D9D9D9;
}

.noborder{
    border-right: 0;
    border-left: 0;
}