#form-post-new-job{
    margin-left: 100px ;
}

.modal-absolut{
    position: absolute;
    top: 0;
    left: 0;
}

.editable {
    width: 400px;
    height: 127px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
  }