.modal-content-title {
  margin-top: 40px;
}

.modal-applicationDetails-Content {
  margin-top: 12px;
}

.modal-candidates-details {
  margin-top: 64px;
  margin-left: 93px;
  position: relative;
  height: 1355px;

  #mod-candidateDetails-job-title{
    width: 280px;
    margin-bottom: 3px;
  }



  .modal-date {
    margin-top: 3px;
    font-size: 14px;
    line-height: 19px;
    color: #718096;
  }
}

.style-importan {
  color: #495057 !important;
  border: none !important;
}

.number-applications {
  position: absolute;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  width: 140px;
  margin-right: 250px;
  margin-left: 491px;
}
.job-grup2{
  left: 879px;
}
.job {
  width: 1024px !important;
}
.marg-ride {
  margin-left: 0 !important;
}

.flot {
  top: 170px !important;
}

.marg-b {
  margin-bottom: 78px !important;
}

.close-this-job {
  width: 90px;
  height: 20px;
  color: #f5222d;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
}
